.techno{
   width: 50%;
    margin: auto;
}

.content_img{
    text-align: center;
}

.photo{
    height: 50vh;
    border-radius: 7px;
}

.project-picture-container{
    padding: 0;
}

.project-picture{
    width: 50vw;
    margin: 0;
}

.project-title{
    padding: 5%;
    font-size: 2.2rem;
}

.descritption-container{
    height: 90%;
}

.description{
    background-color: rgba(250,250,250,0.5);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 30px 20px;
    margin: 15px 0px;;
}

/* Carousel maison*/

.carousel-homemade{
    padding-left: 0;
    list-style: none;
    position: relative;
    height: 100%;
    overflow: hidden;
    margin: 0;
    list-style-type: none;
}

.project-screen{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    transition: opacity .400s linear;
    list-style-type: none;
}

.project-screen.active{    
    opacity: 1;
    transition: opacity .600s linear;
    list-style-type: none;
}

.area_button{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.cursor{
    width: 50px;
    height: 3px;
    display: inline-block;
    margin: 10px;
    background:  rgba(95, 158, 160, 0.65);
}

.cursor.active{
    background:  rgba(255, 255, 255, 0.65);
}

/* The side navigation menu */
.sidenav {
    height: 100vh; /* 100% Full-height */
    position: absolute; /* Stay in place */
    z-index: 9999999; /* Stay on top */
    top: 0;
    left: -100vw;
    background-color: #2F2F2F;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    width: 100vw;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

@media only screen and (max-width: 770px){
    .service-box{
        width: 100%;
    }

    .project-title-container{
        width: 100vw;
        max-width: 100vw;
    }
    .project-picture-container{
        width: 90vw;
        min-width: 80vw;
        height: 50vh;
    }

    .project-picture{
        width: 80vw
    }
}

@media only screen and (max-width: 450px){

    .descritption-container-hidden{
        visibility: visible;
        right: 0;
    }

    .project-picture-container{
        visibility: hidden;
        right: -4000px;
    }

    .head-container{
        height: 40vh;
    }

}